@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    --page-padding-x: 1rem;
    --page-padding-y: 1rem;
    --article-margin-y: 5rem;

    --page-color: #FFFAF0;

    --beige-color: #FECAAC;
    --red-color: #CC3928;
    --green-color: #013000;
    --blue-color: #3A9DFB;

    --h2-font-size: calc(1.5rem + 2vw);

    --basic-border: 2px solid black;
    --basic-border-radius: 16px;

    --bento-grid-gap: 1rem;
}
* {
    margin: 0;
    min-width: 0;
    padding: 0;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior:smooth;

}
h2 {
    all: unset;
}
body {
    background-color: var(--page-color);
    font-size: clamp(1rem, 1vw + 1rem, 1.5rem);
}
img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.page-wrapper {
    padding-inline: var(--page-padding-x);
    padding-block: var(--page-padding-y);
    position: relative;
    z-index: 1;
    isolation: isolate;
}
.dot-menu {
    position: fixed;
    right: var(--page-padding-y);
    top: .5rem;
    z-index: 9999;
    transition: opacity 200ms ease-in-out;
}
.dot-menu img {
    min-height: clamp(2rem,2rem + 1vw,3rem);
}
.dot-menu.hidden {
    opacity: 0;
    visibility: hidden;
}
/* .dot-menu {
    position: fixed;
    isolation: isolate;
    inset: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5rem;
    height: fit-content;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
} */
/* .navigation .logo img {
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
} */
/* .dot-menu {
    align-self: center;
    margin-left: auto;
    padding-right: var(--page-padding-x);
} */

.landing-header {
    position: relative;
    min-height: 100lvh;
}
.landing-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.top-dots {
    position: absolute;
   
}

.circle-wrapper {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 57px;
    height: 25px;
}

.circle {
    width: 25px;
    height: 25px;
    border-radius: 50%; /* Makes the div circular */
    position: absolute;
    top: 0;
    transition: 2s transform ease;
}

.green-dot {
    background-color: #013000;
    left: 0; 
}

.red-dot {
    background-color: #FE391D;
    left: 11px; 
}

.blue-dot {
    background-color: #3A9DFB;
    left: 22px; 
}

.beige-dot {
    background-color: #FECAAC;
    left: 33px; 
}

article, footer {
    min-height: 100lvh;

}
article{
    margin: var(--article-margin-y) auto;
    max-width: 50rem;
}
.share-your-recipes {
    background-color: var(--beige-color);
    border-radius: var(--basic-border-radius);
    border: var(--basic-border);
    display: flex;
    flex-direction: column;
    position: relative;
}

.buttons-image-wrapper {
    display: flex;
    position: relative;
}
.action-buttons {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    flex-grow: 1;
    margin-block: 1rem;
    margin-inline: 1rem;
}
.action-button {
    all: unset;
    background-color: white;
    border-radius: var(--basic-border-radius);
    border: var(--basic-border);
    padding-inline: 1rem;
    padding-block: .25rem ;
    text-align: center;
    max-width: 6rem;
}
.bowl-image {
    width: 10rem; /* TODO(oliver): Ez itt egy PLACEHOLDER */
    position: relative;
    top: -25px;
    right: -15px;
}
.bowl-image img {
    border: var(--basic-border);
    border-radius: 99999px;
   
}
.inner-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */

}
.inner {
    background-color: white;
    border-radius: var(--basic-border-radius);
    border: var(--basic-border);
    padding: 1.5rem;
    max-width: calc(10rem + 15vw);
}
.inner-wrapper h2{
    font-size: var(--h2-font-size);
    text-decoration: underline;
}

.simplicity-and-minimalism-grid {
    padding: 1rem;
    background-color: var(--red-color);
    border-radius: var(--basic-border-radius);
    border: var(--basic-border);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: var(--bento-grid-gap);
    justify-content: center;
    align-items: center;
}
.simplicity-and-minimalism-grid>div {
    border-radius: var(--basic-border-radius);
    border: var(--basic-border);
    background-color: var(--page-color);
    overflow: hidden;
}

.article-header-wrapper{
    padding: 1.5rem;
    grid-column: 1/3;
    font-size: var(--h2-font-size);
    text-decoration: underline;
}

.bento-item{
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bento-item>button{
    position: relative;
}
.create-wrapper>button::after {
    position: absolute;
    display: block;
    content: '';
    min-width: 1.3rem;
    aspect-ratio: 1/1;
    background-image: url('../imgs/circle-notification.svg');
    background-size: contain;
    background-repeat: no-repeat;
    left: -6px;
    top: -8px;
}
.explore-wrapper>button::after {
    position: absolute;
    display: block;
    content: '';
    min-width: 1.3rem;
    aspect-ratio: 1/1;
    background-image: url('../imgs/circle-notification.svg');
    background-size: contain;
    background-repeat: no-repeat;
    right: -6px;
    top: -8px;
}

.express-embrace-grow {
    position: relative;
    display: grid;
    align-items: stretch;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: 5rem;
    justify-content: center;
    align-items: center;
}
.express-embrace-grow img {
    object-fit: cover;
    height: 100%;
    margin: 0 auto;
}

.express-embrace-grow h2{
    font-size: var(--h2-font-size);
    text-decoration: underline;
}
.express-image-wrapper,
.embrace-image-wrapper,
.grow-image-wrapper {
    padding: 1rem;
    height: 75%;
}

.express-image-wrapper,
.express-image-wrapper>img {
    background-color: var(--red-color);
    border-radius: var(--basic-border-radius);
    border: var(--basic-border);
}
.embrace-image-wrapper,
.embrace-image-wrapper>img {
    background-color: var(--green-color);
    border-radius: var(--basic-border-radius);
    border: var(--basic-border);
}
.grow-image-wrapper,
.grow-image-wrapper>img {
    background-color: var(--beige-color);
    border-radius: var(--basic-border-radius);
    border: var(--basic-border);
}
.grow-together,
.express-yourself {
    text-align: right;
}

.more-than-just-recipes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.just-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.just-text {
    text-align: center;
}
.just-text h2 {
    font-size: clamp(1.5rem,2,2.5rem);
}
.just-text p {
    font-size: 1rem;
}
.more-than-just-recipes img{
    min-height: 10rem;
}
.register-button {
    background-color: white;
    border: var(--basic-border);
    border-radius: var(--basic-border-radius);
    padding-block: .3rem;
    padding-inline: .5rem;
    margin-top: .5rem;
}
/* hover animations */
.btn {
    background-color: white;
    color: black;
    transition: 
        background-color 250ms ease-in-out,
        color 250ms ease-in-out,
        scale 250ms ease-in-out;
}
.btn:hover {
    cursor: pointer;
    background-color: var(--red-color);
    color: white;
}
.create-wrapper .btn:hover,
.explore-wrapper .btn:hover{
    scale: 1.2;
}
.create-wrapper .btn::after,
.explore-wrapper .btn::after{
    transition: opacity 250ms ease-in-out;
}
.create-wrapper .btn:hover::after,
.explore-wrapper .btn:hover::after{
    opacity: 0;
}
/* Playground */ 
.sushi-wrapper {
    position: relative;
    transition: transform 500ms ease-in-out;
}
.explore-wrapper{
    position: relative;
    transition: transform 500ms ease-in-out;
}
.sushi-wrapper.swapped{
    transform: 
        translateX(calc(100% + var(--bento-grid-gap)));
}
.explore-wrapper:has(.btn.swapped){
    position: relative;
    transform: 
        translate(calc(-100% - var(--bento-grid-gap)));
}
.chopstick-wrapper img.hidden{
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
}
.chopstick-wrapper img {
    transition:
        opacity 500ms ease-in-out;
}
.express-embrace-grow .progress-bar{
    position: absolute;
    height: 0%;
    width: 1%;
    border-radius: 9999rem;
    --_progress-color: var(--red-color);
    background-color: var(--_progress-color);
    left: 50%;
    top:0;
    transition: 
        height 250ms ease-out,
        background-color 500ms ease-in-out;
}
.express-embrace-grow * {
    transition: opacity 250ms ease-out;
}
.express-embrace-grow .faded {
    opacity: 0.3;
}